body {background-image: url(background.jpg);
background-repeat: no-repeat;
background-position: 100% 10%;
background-position: center center;
background-size: cover;
background-attachment: fixed;
}
h3 {color:green}

.foto{width: 200px;}

#nome {color: yellow;}

p {color:rgb(54, 54, 53);}